---
title: Tags
layout: default
---

<div class="g-header-post">{% include header.html %}</div>
<div class="g-banner tags-banner post-pattern-food {{ site.theme_color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme_color }}">
    <h2>SEARCH</h2>
</div>
<div class="post-content visible" style="background-color: transparent;">
    <div class="markdown-body">
        <div class="search-card" style="display: block;">
            <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
            <i class="fal fa-search"></i>
            <div class="search_result"></div>
        </div>
    </div>
</div>
{% include footer.html %}
